/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* UNIVERSAL CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    position: relative;
}

/* PRIMARY CSS */
#wrapper {
    width: 970px;
    margin: 0px auto;
}
p {
    font-size: 14px;
}
h1 {
    font-size: 30px;
    text-transform: lowercase;
    color: #551A8B;
    line-height: 36px;
    margin: 5px 0px 20px 0px;
}
h2 {
    font-size: 26px;
    text-transform: lowercase;
    color: #551A8B;
    line-height: 32px;
    margin: 5px 0px 15px 0px;
}
h3 {
    font-size: 22px;
    text-transform: lowercase;
    color: #551A8B;
    line-height: 26px;
    margin: 5px 0px 15px 0px;
}
h4 {
    font-size: 17px;
    text-transform: lowercase;
    color: #551A8B;
    line-height: 20px;
    margin: 5px 0px 10px 0px;
}
h5 {
    font-size: 15px;
    text-transform: lowercase;
    color: #551A8B;
    line-height: 17px;
    margin: 5px 0px 8px 0px;
}
a, li, ul, div, ol, table, p {
    font-size: 14px;
    color: #808080;
    line-height: 17px;
    margin: 0px 0px 10px 0px;
}
input, textbox, textarea {
    font-size: 14px;
    color: #808080;
    line-height: 17px;
}
a {
    color: #551A8B;
    text-decoration: none;
}
.error {
    color: rgb(180, 0, 0);
    font-size: 12px;
}
.success {
    color: rgb(0, 119, 0);
    font-size: 12px;
}
table {
	width: 100%;
    border-collapse: collapse;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}
thead {
	overflow: auto;
	color: #fff;
	background: #806543;
}
tbody {
	overflow: auto;
}
th,td {
	padding: .5em 1em;
	vertical-align: middle;
    border-left: 1px solid #f2f2f2;
    text-overflow: normal;
    text-align: center;
}
/* FORMS */
table.forms {
    width: 49.7%;
    vertical-align: middle;
    display: inline-block;
    border: none;
    box-sizing: border-box;
}
tr.forms {
    width: 100%;
}
td.forms {
    text-align: left;
    display: block;
    border: none;
    box-sizing: border-box;
    width: 100%;
}
.form-box {
    border: 1px solid #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
}
.forms input, .forms textarea {
    width: 460px;
    box-sizing: border-box;
    vertical-align: top;
}
.form-btn {
    width: 300px;
    margin: 0px auto;
}
.form-submit-btn {
    width: 100%;
    height: 30px;
}
/* HEADER */
#nav-bar {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}
#nav-bar-loginreg {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    height: 180px;
}
.nav-logo {
    margin: 40px auto;
    width: 40%;
}
.nav-logo img {
    width: 100%;
}
.top-nav li {
    display: inline-block;
    margin: 5px 50px;
    font-weight: bold;
    font-size: 15px;
}
.top-nav a:hover {
    text-decoration: underline;
}
/* HOMEPAGE CONTENT */
.hp-title {
    text-align: center;
}
    /* RECENT TREASURES */
    #recent-treasures-wrapper {
        margin-bottom: 40px;
    }
    .recent-treasure-box {
        width: 234.28px;
        height: 380px;
        margin: 0px 2px;
        display: inline-block;
        border: 1px solid #f2f2f2;
    }
    .recent-treasure-box:hover {
        box-shadow: 3px 3px 10px #888888;
    }
    .recent-treasure-img {
        height: 222.28px;
        width: 100%;
        background-color: #fafafa;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .recent-treasure-img img {
        max-width: 100%;
        max-height: 100%;
    }
    .recent-treasure-info {
        padding: 5px;
    }
    .recent-treasure-info h4 {
        width: 100%;
        height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: 5px;
    }
    .recent-treasure-desc {
        font-size: 13px;
        width: 100%;
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
    .recent-treasure-info img {
        width: 15px;
        display: inline-block;
    }
    .recent-treasure-city {
        display: inline-block;
        font-size: 12px;
        line-height: 2px;
    }
    /* MIGHT LIKE TREASURES */
    #might-like-wrapper {
        margin-bottom: 40px;
    }
    .might-like-box {
        width: 183.51px;
        height: 262px;
        margin: 0px 2px 10px 2px;
        display: inline-block;
        border: 1px solid #f2f2f2;
    }
    .might-like-box:hover {
        box-shadow: 3px 3px 10px #888888;
    }
    .might-like-img {
        height: 200px;
        width: 100%;
        background-color: #fafafa;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .might-like-img img {
        max-width: 100%;
        max-height: 100%;
    }
    .might-like-info {
        padding: 5px;
    }
    .might-like-info h5 {
        width: 100%;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: 0px;
    }
    .might-like-info img {
        width: 15px;
        display: inline-block;
    }
    .might-like-city {
        display: inline-block;
        font-size: 12px;
        line-height: 22px;
    }

/* LOGIN REG CONTENT */
    .login-reg-box {
        width: 35%;
        margin: 0px auto;
    }
    .login-reg-box h2 {
        text-align: center;
    }
    .login-reg-box table, .login-reg-box input {
        width: 100%;
    }
    .login-reg-box input {
        height: 28px;
        margin-top: 3px;
    }
    .login-reg-box select {
        width: 67.92px;
    }
    .login-reg-box p {
        margin-bottom: 5px;
    }
    .login-reg-box .subtext {
        font-size: 12px;
        line-height: 14px;
    }
    #submit {
        height: 30px;
        margin-bottom: 3px;
    }
    .login-reg-box p {
        text-align: center;
    }
/* DASHBOARD */
    #main-content h1 {
        text-align: center;
    }
    #dash-menu {
        width: 24.494%;
        display: inline-block;
        margin-right: 3px;
    }
    .dash-menu-items {
        padding: 10px;
        display: inline-block;
        border: 1px solid #f2f2f2;
        width: 100%;
        height: 278px;
    }
    .requests-pending {
        font-size: 16px;
        line-height: 20px;
        background-color: red;
        color: white;
    }
    .approved-borrows {
        font-size: 16px;
        line-height: 20px;
        background-color: green;
        color: white;
    }
    #dash-tables {
        width: 74.69%;
        display: inline-block;
    }
    .dash-borrow-box {
        width: 100%;
        height: 350px;
    }
    .dash-box-content {
        overflow-y: scroll;
        height: 300px;
        border: 1px solid #f2f2f2;
    }
    .dash-box-content p {
        margin: 10px;
    }
    .dash-borrow-box button {
        width: 80px;
        height: 25px;
        margin-bottom: 3px;   
    }
    .dash-borrow-box .pay-btn {
        width: 165px;
        color: white;
        background-color: green;
        display: block;
        margin: 0px auto 3px auto;
    }
    .add-treasure-btn {
        background-color: 
    }
/* TREASURE PAGES */
    .treasure-box {
        width: 100%;
    }
    .add-treasure-box img {
        max-width: 400px;
        max-height: 400px;
        display: inline-block;
        margin-right: 20px;
    }
    .treasure-info {
        display: inline-block;
        width: 56.19%;
        border: 1px solid #f2f2f2;
        padding: 0px 10px 10px 10px;
    }
    .borrow-request-title {
        text-align: center;
    }
/* REUSABLE STYLES */
.border-box {
    box-sizing: border-box;
}
.vert-top {
    vertical-align: top;
}