<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Borrow Kingdom</title>
</head>
<body>
    <div id="wrapper">
        <div id="nav-bar">
            <div class="nav-logo">Borrow Kingdom Logo</div>
            <ul class="nav-right">
                {% if request.session.user_id %}
                <li class="nav-item-right"><a href="/dashboard">Dashboard</a></li>
                <li class="nav-item-right"><a href="/logout">Log Out</a></li>
                {% else %}
                <li class="nav-item-right"><a href="/login">Sign In</a></li>
                <li class="nav-item-right"><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="main-content">
            <h3>Recently Added Treasures</h3>
            {% for treasure in recent_treasures %}
            <div class="recent-treasure-box">
                <h4><a href="/treasure/{{treasure.id}}">{{treasure.name}}</a></h4>
                <a href="/treasure/{{treasure.id}}"><img width="200px" src="{{treasure.primary_img.url}}" alt="{{treasure.name}}"></a>
                <p>Borrow Rate: ${{treasure.daily_rate}}/day</p>
                <p>{{treasure.desc}}</p>
            </div>
            {% endfor %}
            <h3>Treasures Available to Borrow</h3>
            <table>
            {% for treasure in available_treasures %}
                <tr>
                    <tr><a href="/treasure/{{treasure.id}}"><img height="75px" src="{{treasure.primary_img.url}}" alt="{{treasure.name}}"></a></tr>
                    <tr><a href="/treasure/{{treasure.id}}">{{treasure.name}}</a></tr>
                    <tr>${{treasure.daily_rate}}/day</tr>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>