<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'rent_treasures/css/main.css' %}">
    <title>{{treasure.name}} | Borrow Kingdom</title>
</head>
<body>
    <div id="notif-bar">This site is in BETA Testing Mode and transations are not actually processed. For questions, please message <a href="https://twitter.com/TimWinfred">@TimWinfred</a> on Twitter.</div>
    <div id="wrapper" class="border-box">
        <div id="nav-bar" class="border-box">
            <div class="nav-logo border-box"><a href="/"><img src="/media/borrow_kingdom-logo.png" alt=""></a></div>
            <ul class="top-nav">
                {% if request.session.user_id %}
                <li class="nav-item-right"><a href="/">Browse Treasures</a></li>
                <li class="nav-item-right"><a href="/dashboard">Dashboard</a></li>
                {% if user.user_level == 9 %}<li class="nav-item-right"><a href="/bka">Admin</a></li>{% endif %}
                <li class="nav-item-right"><a href="/logout">Log Out</a></li>
                {% else %}
                <li class="nav-item-right"><a href="/login">Sign In</a></li>
                <li class="nav-item-right"><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="add-treasure-box border-box vert-top">
            <div class="treasure-box border-box vert-top">
                <img src="{{treasure.primary_img.url}}" alt="{{treasure.name}}">
                <div class="treasure-info border-box vert-top">
                    <h1><span style="font-weight:bold">{{treasure.name}}</span></h1>
                    <h4>Description:</h4>
                    <p>{{treasure.desc}}</p>
                    <h4>Daily Rate:</h4>
                    <p>${{treasure.daily_rate}}</p>
                    <h4>Location:</h4>
                    <p>{{treasure.pickup_city}}</p>
                    {% if user.id == treasure.uploader.id %}
                    <a href="/treasure/{{treasure.id}}/edit"><button>Edit</button></a> <a href="/treasure/{{treasure.id}}/delete"><button>Delete</button></a>
                    {% endif %}
                    {% if not user.id %}
                    <h3>Request to Borrow This Treasure:</h3>
                    <p>Please <a href="/login">login</a> or <a href="/register">register</a> to request to borrow this treasure.</p>
                    {% endif %}
                </div>
            {% if my_request %}
            <h3>Your Request:</h3>
            {% if messages %}
                <ul class="message">
                    {% for message in messages %}
                    <li{% if message.tags%} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>You requested to borrow this treasure on <span style="font-weight: bold">{{my_request.request_date}}</span>:</p>
            <ul>
                <li>You requested to pick up this treasure on <span style="font-weight: bold">{{my_request.pickup_date}}</span> and to borrow it for <span style="font-weight: bold">{{my_request.days}} day(s)</span>.</li>
            </ul>
            <p>Request Status: <span style="font-weight: bold">{% if my_request.status == 0 %}Pending{% elif my_request.status == 1 %}Accepted{% elif my_request.status == 2 %}Declined{% else %}Paid{% endif %}</span></p>
            {% if my_request.status != 3 %}
            <a href="/request/{{my_request.id}}/edit"><button>Edit</button></a>
            <a href="/request/{{my_request.id}}/delete"><button>Delete</button></a>
            {% endif %}
            {% elif user.id and user.id != treasure.uploader.id %}
            <h3 class="borrow-request-title">Request to Borrow This Treasure:</h3>
            {% if messages %}
                <ul class="message">
                    {% for message in messages %}
                    <li{% if message.tags%} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/request/{{treasure.id}}/" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>How many days would you like to borrow this treasure for?</td>
                    </tr>
                    <tr>
                        <td><input type="number" name="days" id="days" value="1"></td>
                    </tr>
                    <tr>
                        <td>When do you want to pick this treasure up?</td>
                    </tr>
                    <tr>
                        <td><input type="date" name="pickup_date" id="pickup_date"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit Request"></td>
                    </tr>
                </table>
            </form>
            {% endif %}
        </div>
    </div>
</body>
</html>