<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'rent_treasures/css/main.css' %}">
    <title>Edit {{treasure.name}} | Borrow Kingdom</title>
</head>
<body>
    <div id="notif-bar">This site is in BETA Testing Mode and transations are not actually processed. For questions, please message <a href="https://twitter.com/TimWinfred">@TimWinfred</a> on Twitter.</div>
    <div id="wrapper" class="border-box">
        <div id="nav-bar" class="border-box">
            <div class="nav-logo border-box"><a href="/"><img src="/media/borrow_kingdom-logo.png" alt=""></a></div>
            <ul class="top-nav">
                <li class="nav-item-right"><a href="/">Browse Treasures</a></li>
                {% if request.session.user_id %}
                <li class="nav-item-right"><a href="/dashboard">Dashboard</a></li>
                <li class="nav-item-right"><a href="/logout">Log Out</a></li>
                {% elif not request.session.user_id %}
                <li class="nav-item-right"><a href="/login">Login</a></li>
                <li class="nav-item-right"><a href="/register">Register</a></li>
                {% endif %}
                {% if user.user_level == 9 %}<li class="nav-item-right"><a href="/bka">Admin</a></li>{% endif %}
            </ul>
        </div>
        <div class="add-treasure-box border-box vert-top">
            <div class="treasure-box border-box vert-top">
                <img src="{{treasure.primary_img.url}}" alt="{{treasure.name}}" file="{{treasure.primary_img">
                <div class="treasure-info border-box vert-top">
                    <h3><span style="font-weight:bold">{{treasure.name}}</span></h3>
                    <h4>Description:</h4>
                    <p>{{treasure.desc}}</p>
                    <h4>Daily Rate:</h4>
                    <p>{{treasure.daily_rate}}</p>
                    <h4>Pickup Location:</h4>
                    <p>{{treasure.pickup_address}}</p>
                    <p>{{treasure.pickup_city}}, {{treasure.pickup_state}} {{treasure.pickup_zip}}</p>
                </div>
            </div>
            <h1>Update <span style="font-weight:bold">{{treasure.name}}</span></h1>
            {% if messages %}
                <ul class="message">
                    {% for message in messages %}
                    <li{% if message.tags%} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form-box">
                <form action="/update/{{treasure.id}}/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="forms">
                        <tr class="forms">
                            <td class="forms"><input type="text" name="name" id="name" value="{{treasure.name}}"></td>
                            <td class="forms"><textarea name="desc" id="desc" cols="30" rows="6">{{treasure.desc}}</textarea></td>
                            <td class="forms">Upload a Primary Image:</td>
                            <td class="forms"><input type="file" accept="image/*" name="primary_img" id="primary_img"></td>
                            <td class="forms">Daily Rate in US Dollars:</td>
                            <td class="forms"><input type="number" step="0.01" name="daily_rate" id="daily_rate" value="{{treasure.daily_rate}}"></td>
                        </tr>
                    <table class="forms">
                        <tr class="forms">
                            <td class="forms">Where is this treasure located?</td>
                            <td class="forms"><input type="text" name="pickup_address" id="pickup_address" value="{{treasure.pickup_address}}"></td>
                            <td class="forms"><input type="text" name="pickup_city" id="pickup_city" value="{{treasure.pickup_city}}"></td>
                            <td class="forms"><input type="text" name="pickup_state" id="pickup_state" value="{{treasure.pickup_state}}" maxlength="2"></td>
                            <td class="forms"><input type="text" name="pickup_zip" id="pickup_zip" value="{{treasure.pickup_zip}}"></td>
                        </tr>
                    </table>
                    <div class="form-btn">
                        <input class="form-submit-btn" type="submit" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>