<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div id="nav-bar">
            <div class="nav-logo">Borrow Kingdom Logo</div>
            <ul class="nav-right">
                <li class="nav-item-right"><a href="/">Browse Treasures</a></li>
                <li class="nav-item-right"><a href="/dashboard">Dashboard</a></li>
                <li class="nav-item-right"><a href="/logout">Log Out</a></li>
            </ul>
        </div>
        <div class="add-treasure-box">
                <h3>Update '{{treasure.name}}'</h3>
                {% if messages %}
                    <ul class="message">
                        {% for message in messages %}
                        <li{% if message.tags%} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form action="/update/{{treasure.id}}/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="add-treasure-table">
                        <tr>
                            <td><input type="text" name="name" id="name" value="{{treasure.name}}"></td>
                        </tr>
                        <tr>
                            <td><textarea name="desc" id="desc" cols="30" rows="6">{{treasure.desc}}</textarea></td>
                        </tr>
                        <tr>
                            <td><img src="{{treasure.primary_img.url}}" alt="{{treasure.name}}" file="{{treasure.primary_img" width="150px"></td>
                        </tr>
                        <tr>
                            <td>Primary Image</td>
                        </tr>
                        <tr>
                            <td><input type="file" accept="image/*" name="primary_img" id="primary_img"></td>
                        </tr>
                        <tr>
                            <td>Daily Rate in US Dollars:</td>
                        </tr>
                        <tr>
                            <td><input type="number" step="0.01" name="daily_rate" id="daily_rate" value="{{treasure.daily_rate}}"></td>
                        </tr>
                        <tr>
                                <td>Where is this treasure located?</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="pickup_address" id="pickup_address" value="{{treasure.pickup_address}}"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="pickup_city" id="pickup_city" value="{{treasure.pickup_city}}"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="pickup_state" id="pickup_state" value="{{treasure.pickup_state}}" maxlength="2"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="pickup_zip" id="pickup_zip" value="{{treasure.pickup_zip}}"></td>
                            </tr>
                        <tr>
                            <td><input type="submit" value="Update"></td>
                        </tr>
                    </table>
                </form>
            </div>
    </div>
</body>
</html>