<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{treasure.name}} Requests | Borrow Kingdom</title>
    <link rel="stylesheet" href="{% static 'rent_treasures/css/main.css' %}">
</head>
<body>
    <div id="wrapper" class="border-box">
        <div id="nav-bar" class="border-box">
            <div class="nav-logo border-box"><a href="/"><img src="/media/borrow_kingdom-logo.png" alt=""></a></div>
            <ul class="top-nav">
                <li class="nav-item-right"><a href="/">Browse Treasures</a></li>
                {% if request.session.user_id %}
                <li class="nav-item-right"><a href="/dashboard">Dashboard</a></li>
                <li class="nav-item-right"><a href="/logout">Log Out</a></li>
                {% elif not request.session.user_id %}
                <li class="nav-item-right"><a href="/login">Login</a></li>
                <li class="nav-item-right"><a href="/register">Register</a></li>
                {% endif %}
                {% if user.user_level == 9 %}<li class="nav-item-right"><a href="/bka">Admin</a></li>{% endif %}
            </ul>
        </div>
        <h1>{{treasure.name}} Requests</h1>
        <h3>Pending Requests</h3>
            {% if pending_requests %}
            <table class="request-table">
                <thead>
                    <tr>
                        <th>Pickup Date</th>
                        <th>Days Requested</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in pending_requests %}
                    <tr>
                        <td>{{request.pickup_date}}</td>
                        <td>{{request.days}}</td>
                        <td>${{request.amount}}</td>
                        <td><a href="/request/{{request.id}}/accept"><button>Accept</button></a> <a href="/request/{{request.id}}/decline"><button>Decline</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>This item doesn't have any pending requests.</p>
            {% endif %}
        <h3>Accepted Requests</h3>
        {% if accepted_requests %}
        <table class="request-table">
            <thead>
                <tr>
                    <th>Pickup Date</th>
                    <th>Days Requested</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for request in accepted_requests %}
                <tr>
                    <td>{{request.pickup_date}}</td>
                    <td>{{request.days}}</td>
                    <td>${{request.amount}}</td>
                    <td><a href="/request/{{request.id}}/cancel"><button>Cancel</button></a> <a href="/request/{{request.id}}/decline"><button>Decline</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This item doesn't have any approved requests.</p>
        {% endif %}
        <h3>Declined Requests</h3>
        {% if declined_requests %}
        <table class="request-table">
            <thead>
                <tr>
                    <th>Pickup Date</th>
                    <th>Days Requested</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for request in declined_requests %}
            <tbody>
                <tr>
                    <td>{{request.pickup_date}}</td>
                    <td>{{request.days}}</td>
                    <td>${{request.amount}}</td>
                    <td><a href="/request/{{request.id}}/accept"><button>Accept</button></a>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <p>This item doesn't have any declined requests.</p>
        {% endif %}
    </div>
</body>
</html>